# Cache de bytecode compilado de Python
__pycache__/
*.py[cod]
*$py.class

# Cache de pruebas y cobertura
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Entornos virtuales
env/
ENV/
.venv/
venv/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Archivos y volúmenes de Docker
postgres_data/
mysql_data/
data/

# --- REGLAS ESPECÍFICAS DEL BACKEND ---
backend/music.db
backend/Interfaz/
backend/static/audio/*
!backend/static/audio/.gitkeep
backend/static/imagenes/*
!backend/static/imagenes/.gitkeep