# URL Base del Backend / API para Emulador Android
API_BASE_URL=http://10.0.2.2:8000

# Ruta relativa para servir archivos multimedia estáticos
STATIC_MEDIA_PATH=/static/audio/

# Timeout de peticiones HTTP en milisegundos
API_TIMEOUT=5000